.article{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 620px;
}
.article .title{
    word-break: break-word;
    margin: 20px 0 0;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
}
.article .author{
    margin: 30px 0 40px;
}
.article .author .avatar{
    width: 48px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
}
.avatar img{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.article .author .info{
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}
.article .author .tag{
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
}
.article .author .name{
    margin-left: 3px;
    margin-right: 3px;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
}
.article .author .meta{
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.article .author .meta span{
    padding-right: 5px;
}
.write_a{
    margin: 9px 15px 0;
    border-radius: 4px;
    color: #fff;
    background-color: #ea6f5a;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;

}
.write_a .ic{
    box-sizing: border-box;
}
.like{
    width: 179px;
    height: 59px;
    padding: 13px 0 15px;
    font-size: 0;
    border: 1px solid #ea6f5a;
    border-radius: 40px;
}
.like_btn{
    font-size: 19px;
    display: inline-block;
}
.like_btn a{
    padding: 18px 15px 18px 30px;
    cursor: pointer;
    color: #ea6f5a;
}
.like_btn .ic{
    margin-right: 5px;
    font-size: 21px;
    font-family: iconfont!important;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
}
.modal_w{
    font-size: 18px;
    display: inline-block;
}
.modal_w a{
    padding: 18px 15px 18px 30px;
    cursor: pointer;
    color: #ea6f5a;
}
.di{
    margin: 60px auto;
    width: 620px;
    height: 100%;
    vertical-align:middle;
}
.comment_list{
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 60px;
    width: 620px;
}
.comment{
    position: relative;
}
.comment textarea{
    padding: 10px 15px;
    width: 100%;
    height: 80px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
}
.comment_send{
    height: 50px;
}
.comment_btnsend{
    float: right;
    width: 78px;
    margin: 10px 0;
    padding: 8px 18px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff!important;
    background-color: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
}
.comment_cancel{
    float: right;
    margin: 18px 30px 0 0;
    font-size: 16px;
    color: #969696;
    cursor: pointer;
}
.comment_detial{
    padding: 20px 0 30px;
    border-bottom: 1px solid #f0f0f0;
}
.comment_detauthor{
    margin-bottom: 15px;
}
.comment_detauthor .avatar{
    margin-right: 5px;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    display: inline-block;
}
.comment_detauthor .avatar img{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.comment_detauthor .comment_detinfo{
    display: inline-block;
    vertical-align: middle;
}
.comment_detauthor .comment_detinfo a{
    font-size: 15px;
    color: #333;
    cursor: pointer;
}
.comment_detauthor .comment_detinfo .meta{
    font-size: 12px;
    color: #969696;
}
.comment_detauthor .comment_detinfo .meta span{
    margin-right: 6px;
}

.comment_wrap p{
    font-size: 16px;
    line-height: 1.5;
}
.comment_wrap .tool-group a{
    margin-right: 10px;
    color: #969696;
    display: inline-block;
}
 .tool_group span {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 14px;
    color: #969696;
 cursor: pointer;

 }
